# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/
/build

# Production
dist

# Environment variables
.env
.env*.local
!.env.example

# Uploads / Media Storage (Local persistent volume)
/uploads
/media
/public/uploads

# Database
postgres_data/
*.sqlite
*.sqlite3

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor files
.DS_Store
Thumbs.db
*.pem
.vscode/
.idea/
*.swp
*.swo
